.searchBoxContainer {
  /* flex-grow: 2;
  flex-basis: 0; */
  /* font-family: 'SFRounded'; */
  width: 100%;
  opacity: 0.3
}
.searchBox {
}

.searchWrapper {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  /* margin: -56px 0px 0px; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 16px;
  padding: 0px 32px;
  flex-wrap: nowrap;
}

.searchInput {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
  border: transparent;
  font-family: 'SFRounded', sans-serif;
  color: rgb(0, 0, 0, 0.7);
  font-size: 18px; 
  font-weight: 700;
  font-style: normal;
  width: 100%;
}

.searchInput::placeholder {
  color: rgb(0, 0, 0, 0.3);
}

.searchIcon {
  transition: all 0.125s ease 0s;
}

.searchIcon:hover {
  transform: scale(1.05); /* Scale down when active */
}

.searchIcon:active {
  transform: scale(0.9); /* Scale down when active */
}


/* .searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  padding: 10px 20px;
  font-family: 'SFRounded', sans-serif;
  color: rgba(60, 66, 82, 0.5); 
  font-size: 18px; 
  font-weight: 700;
  font-style: normal; 
  font-style:normal;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
} */

/* .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-wrapper {
  position: relative;
  width: 100%;
  height: 70px;
  border-radius: 30px;
  background-color: rgba(231, 224, 236, 1);
  margin: -56px 0px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding: 32px 24px 0px;
  flex-wrap: nowrap;
}

.search-input {
  font-family: 'SFRounded', sans-serif;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  left: 10px;  
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  fill: #aaa;
}

.search-input::placeholder {
  color: #ff0000;
} */

