
.body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: clamp(3.75rem, 2.7813rem + 4.8438vi, 7.625rem);
    padding-top: clamp(2rem, 1.5625rem + 2.1875vi, 3.75rem);
    border-top: 3px solid #d9d9d9;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap:22px;
    align-items: center;
    max-width: 1440px;
}

.logo {
    width: clamp(5.75rem, 5.1563rem + 2.9688vi, 8.125rem);
    height: auto;
}

.name {
    display: none;
}

.trademark {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    display: none;
    text-align: justify;
    font-size: var(--step--1);
}

.developedBy {
    letter-spacing: calc(.44 * var(--step--1));
    line-height: 110%;
    white-space: nowrap;
}

.company {
    /* font-size: 12px; */
}

.resources{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.sectionTitle {
    font-size: var(--step-0);
    font-weight: 600;
    position: relative;
    width: fit-content;
}
.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 4px;
    background: #F0A6CA;
}

.link {
    font-size: var(--step--1);
    cursor: pointer;
    color: #A5A5A5;
}
.link:hover {
    text-decoration: underline;
}

.socials {
    width: clamp(2rem, 1.8125rem + 0.9375vi, 2.75rem);/*32 44px*/
    height: auto;
    cursor: pointer;
}

.socialsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(12.75rem, 9.5776rem + 15.8621vi, 18.5rem);
}

@media (min-width: 901px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-inline: clamp(2rem, -3.1559rem + 9.1559vi, 6rem);
    }
    .linkContainer {
        flex-direction: row;
        align-items: start;
        gap: 40px;
    }
    .section {
        text-align: left;
        align-items: start;
    }
    .socialsContainer {
        width: 100%;
        /* justify-content: space-between; */
    }
    .description {
        display: block;
    }

}

