.button {
    display: flex;
    gap: 6px;
    padding-inline: 14px;
    padding-block: 10px;
    font-size: var(--step--1);
    font-weight: 600;
}

.buttonPrimary {
    background: #1e1e1e;
    color: #d9d9d9;
    border-radius: 30px;
}

.buttonSecondary {
    background: transparent;
    color: #1e1e1e;
    border-radius: 30px;
    border: 3px solid #1e1e1e;
}

.icon {
    width: clamp(0.7901rem, 0.7243rem + 0.3292vi, 1.0535rem);
    /* color: #d9d9d9; */
}