.card {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
}

/* .card > div {
    display: flex;
    flex-direction: column;
    padding: 24px;
} */
.listingCardDescription {
    display: flex;
    flex-direction: column;
    gap: 'clamp(1rem, 0.75rem + 1.25vi, 2rem)';
    
}

.starWarsCard,
.realEstateCard,
.learnMoreCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding:  clamp(1.5rem, 1rem + 2.5vi, 2.5rem);
}

.realEstateCard {
    background-color: #F0A6CA;
    gap: clamp(1.5rem, 0.75rem + 3.75vi, 4.5rem);
    align-items: center;
    justify-content: center;
}
.icyMountain {
    width: auto;
    height: 65%;
}
.realEstateCardDescription {
    font-size: clamp(1.375rem, 1.0313rem + 1.7188vi, 2.75rem);
    font-weight: 700;
    text-align: center;
    text-wrap: balance;
    max-width: 354px;
}

.learnMoreCard {
    background-image: linear-gradient(#0C91F1, #07538B);
    /* gap: clamp(4.0625rem, 2.0156rem + 10.2344vi, 12.25rem); */
    justify-content: start;
    align-items: center;
    gap: 15%;
}
.book {
    width: clamp(8.625rem, 6.8438rem + 8.9063vi, 15.75rem);
    height: auto;
}
.learnMoreCardDescription {
    font-size: clamp(1.375rem, 1.0938rem + 1.4063vi, 2.5rem);
    color: #d9d9d9;
    text-align: center;
    text-wrap: balance;
    max-width: 300px;
    text-transform: uppercase;
}

.starWarsCard {
    gap: 16px;
    position: relative;
    align-items: center;
}
.collectionImg {
    height: 35%;
    width: auto;
    border-radius: 15px;
    overflow: hidden;
    z-index: 2;
}
.starWarsDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    z-index: 2;
}
.starWarsName {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.875rem, 0.7813rem + 0.4688vi, 1.25rem);
}
.starWarsLogo {
    width: auto;
    height: 9vh;
    min-height: 54px;
}
.backgroundImg {
    background-image: url('https://ipfs.filebase.io/ipfs/QmUGudTwYXZzSFTHgycQbdGa6fRbAoxRTbR9ptExVKNweH');
    filter: blur(6px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index:1
}

@media (min-width: 768px) {
    .realEstateCard,
    .learnMoreCard {
        flex-direction: row-reverse;
        padding: 55px clamp(5rem, 1.25rem + 6.25vi, 7.5rem);
    }
    .realEstateCard {
        justify-content: start;
        align-items: end;
    }
    .learnMoreCard {
        /* flex-direction: row; */
        align-items: center;
        background-image: linear-gradient(to right, #0C91F1, #07538B);
        justify-content: end;
        gap: clamp(7.875rem, 1.3125rem + 10.9375vi, 12.25rem);
    }
    .learnMoreCardDescription,
    .realEstateCardDescription {
        text-align: left;
    }
    .icyMountain {
        height: 90%;
    }
    .starWarsCard {
        flex-direction: row;
        padding: 55px clamp(5rem, 1.25rem + 6.25vi, 7.5rem);
        justify-content: center;
        gap: clamp(3rem, 1.6154rem + 2.8846vi, 4.5rem); /*48 72px*/
    }
    .backgroundImg {
        left: 0;
        bottom: 0;
    }
    .collectionImg {
        height: 60%;
    }
}

@media (max-width: 375px) {
    .realEstateCard {
        padding: 16px;
    }
}