.bodyDescriptionContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: justify;
  /* justify-content: space-between; */
  flex-direction: column;
}

.divider {
  background-color: rgba(60, 66, 82, 0.08);
  border-radius: 1px;
  height: 2px;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 100%;
}

.bodyText {
}

.bodyDescription {
  color: #585858;
  font-size: var(--step-2);
  font-style: normal;
  font-weight: 700;
  /* padding: 0px 0px 12px; */
  text-align: left;
  text-overflow: ellipsis;
  width: 100%;
}

.priceDescription {
  /* color: rgb(84, 91, 100); */
  font-size: var(--step-0);
  font-style: normal;
  font-weight: 600;
  padding: 0px 0px 12px;
  text-align: left;
  text-overflow: ellipsis;
}

.priceInputLabel {
  display: flex;
  color: #a5a5a5;
  font-size: var(--step--1);
  margin: 18px 0px 4px 0px;
  width: 100%;
}

.priceCurrency {
  color: #585858
}

.priceInputContainer {
  /* background: radial-gradient(
    100% 100% at 0% 50%,
    rgba(240, 166, 202, 0.1) 0%,
    rgba(240, 166, 202, 0.2) 100%
  ); */
  position: relative;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  /* margin: 0px 10px 10px 0px; */
  padding: 8px 20px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;;
}

.priceInputContainer:hover {
  /* border-color: rgb(207, 70, 173); */
  border-color: rgb(240, 166, 202);
}

.priceInputContainer:focus {
  border-color: rgb(207, 70, 173);
  /* border-color: rgb(240, 166, 202); */
}

.priceInput {
  color: #1e1e1e;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 8px;
  margin-bottom: 8px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: var(--step-1);
  appearance: textfield;
  text-align: left;
  display: flex;
}

.invalidValue {
  color:#D52941;
  font-size: var(--step--1);
  margin-left: 20px;
}

.priceInput::-webkit-inner-spin-button,
.priceInput::-webkit-outer-spin-button {
  /* -webkit-appearance: none; */
  margin-right: 10px;
}

.eth {
  font-size: var(--step-1);
  font-weight: 500;
  color: rgba(8, 8, 10, 0.8);
  /* font-style: normal; */
}

.listButtonNoHover {
  position: relative;
  pointer-events: none;
  align-items: center;
  /* background-color: blue; */
  background: radial-gradient(
    100% 200% at 0% 50%,
    rgba(240, 166, 202, 0.8) 0%,
    rgba(240, 166, 202, 0.5) 100%
  );
  border-radius: 25px;
  box-sizing: border-box;
  color: #3a3939;
  /* cursor: pointer; */
  display: flex;
  font-size: 20px;
  font-weight: 800;
  height: 46px;
  justify-content: center;
  /* margin-top: 20px; */
  padding: 0px 15px;
  text-align: center;
  transition: all 0.125s ease 0s;
  user-select: none;
  /* z-index: 5; */
  border: none;
  width: 100%;
}

.listButton {
  /* position: absolute; */
  align-items: center;
  background: radial-gradient(
    100% 200% at 0% 50%,
    rgba(240, 166, 202, 0.8) 0%,
    rgba(240, 166, 202, 0.5) 100%
  );
  border-radius: 25px;
  box-sizing: border-box;
  color: #3a3939;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 800;
  height: 46px;
  justify-content: center;
  /* margin-top: 20px; */
  padding: 0px 15px;
  text-align: center;
  transition: all 0.125s ease 0s;
  user-select: none;
  z-index: 5;
  border: none;
  width: 100%
}

.listButton:hover {
  transform: scale(1.05);
}

.listButton:active {
  transform: scale(0.95);
}

.textHilight {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.textHilight::after {
  content: "";
  position: absolute;
  bottom: 1px;
  height: 2px; 
  background-color: rgba(240, 166, 202, 0.3);

  right: 0;
  width: 100%; 
  height: 8px;
}