
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 12px;
}

.navItems {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navItem {
    color: #000000;
    border-bottom: 2px solid transparent;
    /* font-weight: 700; */
}

.navItem:hover {
    border-bottom: 1px solid #000000;
}

.logo {
    width: 42px;
    height: 42px;
}

.button1 {
    padding: 8px;
    background: #ffffff;
    color: #000000;
    /* font-weight: 700; */
    outline: 2px solid #000000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.button1:hover {
    transform: scale(1.05);
}

.button1:active {
    transform: scale(.95);
}

.button2 {
    padding: 8px;
    color: #ffffff;
    background: #000000;
    /* font-weight: 700; */
    outline: 0.5px solid #ffffff;
    border-radius: 25px;
    cursor: pointer;
}

.button2:hover {
    transform: scale(1.05);
}

.button2:active {
    transform: scale(.95);
}


.menuIcon {
    display: none;
}

.icon {
    width: 36px;
    height: 36px;
}

.dropdownMenu {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.dropdown {
    display: block;
    position: absolute;
    width: fit-content;
    top: 36px;
    right: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    width: 250px;
    z-index: 1000; /* High z-index to ensure the dropdown appears on top of other elements */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Adjusted the shadow direction */
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #cecece
}

.dropdown li {
    padding: 16px 16px;
    cursor: pointer;
    list-style: none;
    z-index: 1000;
    color: #000000;
    border-bottom: 1px solid #cecece;
  }
  
  .dropdown li:hover {
    background-color: rgb(240, 211, 227, 0.5);
    z-index: 1000;
  }


@media (max-width: 900px) {
    .navbar{
        font-size: 14px;
    }    
}

@media (max-width: 768px) {
    .navItems {
        display: none;
    }

    .menuIcon {
        display: block;
        color: #000000;
        cursor: pointer;
    }
}