

.body {
    display: flex;
    align-items: center;
    color: #000000;
    gap: 10px;
}

.text {
    /* font-size: clamp(1.25rem, 1.1405rem + 0.5477vi, 1.6663rem); */
    font-size: clamp(1rem, 0.9342rem + 0.3289vi, 1.25rem);
    text-align: left;
}
.chains {
    display: flex;
    gap: 10px;
}
.logo {
    width: clamp(1.5rem, 1.2368rem + 1.3158vi, 2.5rem);
    height: auto;
}

.disabled {
    opacity: 0.3;
}

@media (max-width: 601px) {
    .text {
        /* font-size: 22px; */
    }
    .logo {
        /* width: 36px; */
    }
}

@media (max-width: 601px) {
    .body {
        flex-direction: column;
        align-items: center;
    }
}