

.body {
    display: flex;
    align-items: center;
    color: #000000;
    gap: 10px;
}

.text {
    font-size: 28px;
    text-align: left;
}
.chains {
    display: flex;
    gap: 10px;
}
.logo {
    width: 48px;
    height: auto;
}

.disabled {
    opacity: 0.3;
}

@media (max-width: 601px) {
    .text {
        font-size: 22px;
    }
    .logo {
        width: 36px;
    }
}

@media (max-width: 450px) {
    .body {
        flex-direction: column;
        align-items: start;
    }
}