.divider {
  background-color: rgba(60, 66, 82, 0.08);
  border-radius: 1px;
  height: 2px;
  margin-bottom: 24px;
  margin-top: 24px;
  width: 100%;
}

.bodyDescriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.bodyDescription {
  color: rgb(37, 41, 46);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  /* padding: 0px 0px 12px; */
  text-align: left;
  text-overflow: ellipsis;
  display: flex;
  gap: 10px;
  margin-bottom: 36px;
}

.priceDescription {
  display: flex;
  color: rgb(84, 91, 100);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 0px 0px 12px;
  text-align: left;
  text-overflow: ellipsis;
}

.priceCurrency {
  display: flex;
  margin-left: 2px;
  color: rgba(84, 91, 100);
}

.priceWrapper {
  width: 100%;
  margin-bottom: 28px;
}

.priceInputContainer {
  /* background: radial-gradient(
    100% 100% at 0% 50%,
    rgba(240, 166, 202, 0.1) 0%,
    rgba(240, 166, 202, 0.2) 100%
  ); */
  width: 100%;
  border: 2px solid rgba(240, 166, 202, 0.5);
  border-radius: 25px;
  margin: 28px 10px 8px 0px;
  padding: 8px 20px;
  text-align: left;
  /* z-index: 1; */
  display: flex;
  align-items: center;
}

.priceInputContainer:hover {
  /* border-color: rgb(207, 70, 173); */
  border-color: rgb(240, 166, 202);
}

.priceInputContainer:focus {
  border-color: rgb(207, 70, 173);
  /* border-color: rgb(240, 166, 202); */
}

.priceInput {
  color: rgba(8, 8, 10, 0.8);
  font-style: normal;
  font-weight: 500;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 28px;
  appearance: textfield;
  text-align: left;
  display: flex;
}

.priceInput::-webkit-inner-spin-button,
.priceInput::-webkit-outer-spin-button {
  /* -webkit-appearance: none; */
  margin-right: 10px;
}

.invalidDuration {
  display: flex;
  color:#D52941;
  font-size: 14px;
  padding: 0px 22px;
  text-align: justify;
  width: 100%;
}

.eth {
  font-size: 24px;
  font-weight: 500;
  color: rgba(8, 8, 10, 0.8);
  font-style: normal;
}

.borrowButton {
  align-items: center;
  background: radial-gradient(
    100% 200% at 0% 50%,
    rgba(240, 166, 202, 0.8) 0%,
    rgba(240, 166, 202, 0.5) 100%
  );
  border-radius: 25px;
  box-sizing: border-box;
  color: #3a3939;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 800;
  height: 46px;
  justify-content: center;
  /* margin-top: 20px; */
  padding: 0px 15px;
  text-align: center;
  transition: all 0.125s ease 0s;
  user-select: none;
  z-index: 5;
  border: none;
  width: 100%
}

.borrowButton:hover {
  transform: scale(1.05);
}

.borrowButton:active {
  transform: scale(0.95);
}

.textHilight {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.textHilight::after {
  content: "";
  position: absolute;
  bottom: 1px;
  height: 2px; 
  background-color: rgba(240, 166, 202, 0.3);

  right: 0;
  width: 100%; 
  height: 8px;
}

.textLink {
  color: rgb(237, 149, 192);
  cursor: pointer;
  /* padding: 2px; */
  /* border-radius: 6px; */
  border-bottom: 2px solid transparent;
  /* color: rgb(207, 70, 173); */
}

.textLink:hover {
  border-bottom: 2px solid rgb(237, 149, 192);
}

.notConnectedButton {
  align-items: center;
  background: radial-gradient(
    100% 200% at 0% 50%,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  border-radius: 25px;
  box-sizing: border-box;
  color: #3a3939;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 800;
  height: 46px;
  justify-content: center;
  /* margin-top: 20px; */
  padding: 0px 15px;
  text-align: center;
  transition: all 0.125s ease 0s;
  user-select: none;
  z-index: 5;
  border: none;
  width: 100%;
  color: rgb(255, 255, 255, 0.8);
  margin-bottom: 8px;
}

.notConnectedMessage {
  color: rgb(37, 41, 46);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  /* padding: 0px 0px 12px; */
  text-align: left;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  color: #5d5d5d;
}

.bodyLoadingContainer {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: center;
  flex-direction: column;
}

.loadingContainer {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* align-items: flex-start; */
  box-sizing: border-box;
  padding: 24px 24px 30px;
  width: 100%;
  color: rgb(37, 41, 46);
}