.logo {
  width: 54px;
  height: 54px;
  padding: 4px 0px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #B8BEDD; */
  background-color: rgb(240, 230, 239);

  font-family: 'SFRounded', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255, 0.5);
  transition: all 0.125s ease 0s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(0.95);
}

.name {
  font-family: 'SFRounded', sans-serif;
  font-weight: 900;
  /* color: rgba(255, 255, 255, 0.9); */
  font-size: 36px;
  letter-spacing: 6px;
}