.userCards {
    display: flex;
    flex-direction: column;
    margin-block: 50px;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    gap: 30px;
}

.card {
    padding-block: 5vw;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: clamp(3.375rem, -0.8834rem + 11.3369vi, 10rem);
    border-radius: 30px;
}
.card1:hover {
    box-shadow: -10px -10px 2px 1px rgb(0 0 0 / 0.1), 2px 2px 2px -2px rgb(0 0 0 / 0.1);
    transition: 0.5s ease-out;
}
.card2:hover {
    box-shadow: -2px -2px 2px -2px rgb(0 0 0 / 0.1), 10px 10px 2px 1px rgb(0 0 0 / 0.1);
    transition: 0.5s ease-out;
}

.graphic {
    width: clamp(230px, 30vw, 350px);
    height: auto;
    padding-block: 15px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 50vw, 500px);
    gap: clamp(1.125rem, 0.6429rem + 1.2834vi, 1.875rem);
    padding-block: 15px;
}

.title {
    text-align: left;
    font-size: clamp(1.944rem, 1.2905rem + 1.7399vi, 2.9607rem);
    font-weight: 500;
    color: #000000;
}

.description {
    font-size: clamp(1.125rem, 1.0447rem + 0.2139vi, 1.25rem);
    text-align: justify;
    line-height: 1.6;
    color: #1B1719;
}

.linkContainer {
    display: flex;
    justify-content: end;
}

.link {
    font-size:clamp(1.125rem, 1.0447rem + 0.2139vi, 1.25rem);
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 25px;
    cursor: pointer;
}
/* .link:hover {
    transform: scale(1.05);
} */



@media (max-width: 960px) {
    /* .title {
        font-size: 36px;
    } */
}

@media (max-width: 866px) {
    /* .title {
        font-size: 32px;
    } */
}

@media (max-width: 601px) {
    .card {
        flex-direction: column;
    }
    /* .textContainer {
        padding-top: 30px;
    }
    .graphic {
        padding-top: 30px;
    } */
    .description {
        /* font-size: 18px; */
    }
}
/*
@media (max-width: 466px) {
    .title {
        font-size: 28px;
    }
    .description {
        font-size: 16px;
    }
    .textContainer {
        gap: 15px;
        width: 85vw;
    }
}*/

@media (max-width: 586px) {
    .title {
        /* word-spacing: -.3em; */
    }
}

@media (max-width: 430px) {
    .userCards {
        /* gap: 50px; */
    }
    .card {
        /* flex-direction: column; */
        /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
        /* box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05); */
    }
    
}


@media (max-height: 464px) {
    .card {
        flex-direction: row;
        /* gap: 50px; */
    }
    .graphic {
        /* width: 30vw; */
    }
    .textContainer{
        /* gap: 15px;
        width: 50vw; */
    }
    .title {
        /* font-size: 28px; */
    }
    .description {
        /* font-size: 16px; */
    }
}

