
.descriptionContainer {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  
  align-items: flex-start;
  box-sizing: border-box;
  padding: 24px 24px 30px;
  width: 100%;
  text-overflow: ellipsis;
}

.nftDescription {
  color: rgb(37, 41, 46);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  /* margin-bottom: 24px; */
  padding-right: 8px;
  text-align: left;
  text-overflow: ellipsis;
  overflow-y: auto;
  max-height: 150px;
  scrollbar-width: thin;
  scrollbar-color: rgb(211, 199, 208, 0.6) rgb(240, 230, 239, 0.6);
}

.nftDescription::-webkit-scrollbar {
  width: 12px;  
}

.nftDescription::-webkit-scrollbar-thumb {
  background-color: rgb(211, 199, 208, 0.6);  
  border-radius: 6px;  
}

.nftDescription::-webkit-scrollbar-track {
  background: rgb(240, 230, 239, 0.6);  
  border-radius: 6px;
  /* margin-left: 8px; */
}


.title {
  max-width: 100%;
  color: rgb(37, 41, 46);
  font-size: 48px;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.bodyDescriptionContainer {
  width: 100%;
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  flex-direction: column;
}

.divider {
  background-color: rgba(60, 66, 82, 0.08);
  border-radius: 1px;
  height: 2px;
  margin-bottom: 28px;
  margin-top: 28px;
  width: 100%;
}

.bodyDescription {
  color: rgb(37, 41, 46);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  /* padding: 0px 0px 12px; */
  text-align: left;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


/* .bodyMessage {
  margin-bottom: 40px;
} */

.timeLeftValue {
  color:#f0386b;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.unlistButton {
  align-items: center;
  background: radial-gradient(
    100% 200% at 0% 50%,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 25px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 800;
  height: 46px;
  justify-content: center;
  /* margin-top: 20px; */
  padding: 0px 15px;
  text-align: center;
  transition: all 0.125s ease 0s;
  user-select: none;
  z-index: 5;
  border: none;
  width: 100%
}

.unlistButton:hover {
  transform: scale(1.05);
}

.unlistButton:active {
  transform: scale(0.95);
}

.unlistButton-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-items: end;
}

.unlistContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.warning {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  padding: 0px 12px 0px 12px;
}

.warningIcon {
  width: 40px;
  height: 28px;
  margin-top: -6px;
}

.warningText {
  font-size: 16px;
  text-align: justify;
  color: #D52941;
}
