.dialogBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    text-align: center;
    padding: 0px 16px;
}

.dialog {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    /* padding-top: 15%; */
    
    border: none;
    background: transparent;
}

.dialogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    gap: 24px;
    padding: 32px 16px;
    color: #585858;
    position: relative;
    background-color: #ffffff;
    border-radius: 30px;
    font-size: var(--step-0);
}

@media (min-width: 425px) {
    .dialogContent {
        padding: 32px 24px;
    }
}
.closeIcon {
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 6px;
    cursor: pointer;
    border-radius: 50%;
    width: 36px;
    height: 36px;    
}
.closeIcon:hover {
    background-color: #d9d9d9;
}
.closeIcon:active {
    transform: scale(0.95);
}


.title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 16px;
    font-size: var(--step-5);
    font-weight: 700;
    color: #1e1e1e;
}
.description {
    width: 100%;   
    text-align: left;
    font-size: var(--step-2);
    color: #585858;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    color: #a5a5a5;
}
.inputGroup:focus {
    color: #585858;
}
.inputBox {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.input {
    border: 2px solid #a5a5a5;
    border-radius: 30px;
    padding: 16px;
    width: 100%;
}
.input:focus {
    /* border-color: #585858; */
}
.unit {
    position: absolute;
    top: 50%;
    right: 9%;
    transform: translateY(-50%);
}
.cancelButton,
.dialogButton {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--step-1);
    text-transform: uppercase;
    font-weight: 700;
    transition: all .125s ease-in-out;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
}
.dialogButton {
    background-color: #1e1e1e;
    color: #d9d9d9;
}
.cancelButton {
    border: 2px solid #1e1e1e;
}
.dialogButton:hover {
    background-color: #a5a5a5;
    color: #1e1e1e;
}
.cancelButton:active,
.dialogButton:active {
    transform: scale(0.95);
}
.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.disabled:hover {
    background-color: #1e1e1e;
    color: #d9d9d9;
}

.loading {
    opacity: 0.5;
    cursor: progress;
}

.twoButtonsContainer {
    display: flex;
    width: 100%;
    gap: 8px;
}

.sessionsContainer {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    width: 100%;
    text-overflow: ellipsis;
}

.session {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: var(--step-1);
    transition: all 0.125s ease-in-out;
    color: #585858;
    font-weight: 600;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
}
.session:hover {
    background-color: #585858;
    color: #ffffff;
}


.txMetadataContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 8px;
    text-align: left;
    color: #a5a5a5;
}
.txMetadata {
    font-size: var(--step-1);
    color: #585858;
    font-weight: 500;
}

.errorMessage {
    width: 100%;
    overflow-y: scroll;
    max-height: 200px;
    cursor: pointer;
}
.link {
    font-weight: 600;
    color: #585858;
    cursor: pointer;
    transition: all 0.125s ease-in-out;
}
.link:hover {
    text-decoration: underline;
}