.nftDialog {
  /* width: 800px; */
  width: 100%;
  height: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  padding: 15%;
  
  border: none;
  background: transparent;

  font-family: 'SFRounded', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255, 0.5);
}

.nftDialogBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.nftDialogContent {
  align-items: center;
  flex-direction: row;
  width: 100%;
  display: flex;
  padding: 0px;
  justify-content: center;
  column-gap: 20px;
}

.closeButton {
  position: absolute; /* Position it absolutely... */
  top: 0; /* ...at the top... */
  right: 0; /* ...and right of the dialog */
  padding: 30px;
  cursor: pointer;
  transition: all 0.125s ease 0s;
  z-index: 1002;;
}

.closeButton:hover {
  transform: scale(1.1);
}

.closeButton:active {
  transform: scale(0.9);
}

.nftImageContainer {
  background: rgb(9, 9, 10);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 30px;
  cursor: zoom-in;
  max-height: calc(100vh - 100px);
  overflow: hidden;
  padding-top: 0px;
  pointer-events: auto;
  position: relative;
  transition: all 0.125s ease 0s;
  z-index: 50;

  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.nftImagePreview {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 0px;
  align-items: center;
}

.image {
  color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.nftDescriptionContainer {
  align-items: flex-start;
  background: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 500px;
  opacity: 1;
  overflow-x: hidden;
  pointer-events: auto;
  transition: all 0.125s ease 0s;
  padding: 24px 24px 30px;
  width: 100%;
  text-overflow: ellipsis;
}

.nftDescription {
  color: rgb(37, 41, 46);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* margin-bottom: 24px; */
  padding-right: 8px;
  text-align: left;
  text-overflow: ellipsis;
  overflow-y: auto;
  max-height: 150px;
  scrollbar-width: thin;
  scrollbar-color: rgb(211, 199, 208, 0.6) rgb(240, 230, 239, 0.6);
}

.nftDescription::-webkit-scrollbar {
  width: 12px;  
}

.nftDescription::-webkit-scrollbar-thumb {
  background-color: rgb(211, 199, 208, 0.6);  
  border-radius: 6px;  
}

.nftDescription::-webkit-scrollbar-track {
  background: rgb(240, 230, 239, 0.6);  
  border-radius: 6px;
  /* margin-left: 8px; */
}


.title {
  max-width: 100%;
  color: rgb(37, 41, 46);
  font-size: 48px;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}