.body {
    padding-block: 24px;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-inline: 2.5vw;
}

.title {
    font-size: 40px;
    text-align: left;
    padding-left: 15px;
    color: #000000;
    padding-bottom: 10px;
}

.section{
    padding-top: 5vw;
}

.screenshotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3vw;
}

.screenshot {
    aspect-ratio: 960 / 463.71;
    width: 80%;
    max-width: 800px;
    height: auto;
}

.screenshot > img {
    width: 100%;
    height: 100%;
}





@media (max-width: 1024px) {
    .body {
        margin-inline: 0;
    }
}

@media (max-width: 768px) {
    .body {
        padding-inline: 10px;
    }
}

@media (max-width: 601px) {
    .body {
        padding-inline: 5px;       
    }
    .title {
        font-size: 32px;
    }
}
