.body {
    padding-block: 24px;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
    /* margin-inline: 2.5vw; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
    position: relative;
    background-color: #ffffff;
}

.navbar {
    padding-bottom: 20px;
}

.main {
    gap: clamp(4rem, 3.4079rem + 2.9605vi, 6.25rem);
    display: flex;
    flex-direction: column;
    /* margin-inline: 20px; */
}

.title {
    font-size: clamp(2.4883rem, 2.1393rem + 1.7452vi, 3.8147rem);
    font-weight: 700;
    text-align: left;
    margin-inline: 20px;
    color: #000000;
    padding-bottom: 10px;
}

.subtitle{
    text-align: left;
    font-size: clamp(2.1362rem, 1.8953rem + 1.2046vi, 3.0518rem);
    font-weight: 500;
    color: #000000;
}

.section{
    /* padding-top: 10vw; */
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: clamp(5rem, 3.0263rem + 9.8684vi, 12.5rem);
}





@media (max-width: 1024px) {
    .body {
        margin-inline: 0;
    }
}

@media (max-width: 768px) {
    .body {
        padding-inline: 10px;
    }
}

@media (max-width: 601px) {
    .body {
        padding-inline: 5px;       
    }
    .title {
        text-align: center;
    }
}
