.body {
    /* padding-block: 24px;
    padding-inline: 24px; */
    display: flex;
    flex-direction: column;
    /* margin-inline: 2.5vw; */
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1600px; */
    position: relative;
    align-items: center;
    background-color: #ffffff;
    color: #1E1E1E;
}

.navbar {
    z-index: 2;
    width: 100%;
    max-width: 1600px;
}

.banner {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    height: calc(100vh - 56px - 60px);
    max-height: 100vw;
    min-height: 492px;
    z-index: 2;    
}

.main {
    padding-top: clamp(4.5rem, 1.3125rem + 15.9375vi, 17.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    /* margin-inline: 20px; */
}

.backgroundImage {
    position: absolute;
    top: clamp(0rem, 1.4063rem + -1.4062vi, 1.125rem);
    /* top: 0; */
    right: 0;
    left: 0;
    margin: auto;
    width: clamp(320px, 70vw, 1024px);
    z-index: 0;
}

.backgroundFilter {
    position: absolute;
    top: 0;
    width: 100vw;
    height: calc(0.00135135 * 771 * clamp(340px, 70vw, 1024px) + 20px);
    z-index: 1;
    background-image: linear-gradient(rgba(255,255,255, .6), rgba(255, 255, 255, .8));
}

.userCards {
    margin-inline: 20px;
    padding-top: clamp(2.8125rem, 0.3906rem + 12.1094vi, 12.5rem);
}


.title {
    font-size: clamp(2.4883rem, 2.1393rem + 1.7452vi, 3.8147rem);
    font-weight: 700;
    text-align: left;
    margin-inline: 20px;
    padding-bottom: 10px;
}

.subtitle{
    text-align: left;
    font-size: clamp(2.1362rem, 1.8953rem + 1.2046vi, 3.0518rem);
    font-weight: 500;
}

.section{
    /* padding-top: 10vw; */
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: clamp(5rem, 3.0263rem + 9.8684vi, 12.5rem);
}



@media (min-width: 1200px) {
    .backgroundFilter {
        background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .8));
    }
}