
.body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-inline: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    width: 100%;
}

.arrowContainer {
    display: flex;
    align-items: end;
    width: 3%;
}
.arrow{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.arrow:hover{
    transform: scale(1.1);
}
.arrow:active{
    transform: scale(.95);
}

.disabled{
    opacity: 0.2;
    cursor: default;
}
.disabled:hover{
    transform: none;
}
.disabled:active{
    transform: none;
}

.gameCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1070 / 689;
    width: 60%;
    max-width: 1070px;
    height: auto;
    background-image: url('../../../public/game-controller.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-block: 20px;
    gap: 10%
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cardTitle {
    text-align: center;
    font-size: 54px;
    font-weight: 800;
    color: #000000;
    /* color: #ffffff; */
    /* -webkit-text-stroke: 4px #000000; */
}

.cardDescription {
    width: 65%;
    font-size: 28px;
    text-align: justify;
    color: #000000;
}

.dotsContainer {
    display: flex;
    width: 120px;
    height: auto;
    justify-content: center;
    align-content: end;
    padding-top: 10%;
}

@media (max-width: 1520px) {
    .gameCard {
        /* background-size: 756px 560px; */
        gap: 8%;
        padding-top: 5%;
    }
    .cardTitle {
        font-size: 48px;
    }
    .cardDescription {
        font-size: 22px;
    }
    
}

@media (max-width: 1440px) {
    .cardTitle {
        font-size: 42px;
    }
    .cardDescription {
        font-size: 20px;
    }
    .dotsContainer {
        width: 100px;
    }
}

@media (max-width: 1280px) {
    .cardTitle {
        font-size: 38px;
    }
    .cardDescription {
        font-size: 18px;
    }
    .dotsContainer {
        width: 80px
    }   
}

@media (max-width: 1200px) {
    .cardTitle {
        font-size: 32px;
    }
    .cardDescription {
        font-size: 16px;
    }
    .dotsContainer {
        width: 70px;
    }
}

@media (max-width: 1024px) {
    /* .cardTitle {
        font-size: 28px;
    }
    .cardDescription {
        font-size: 14px;
    }
    .dotsContainer {
        width: 60px;
    } */
    .gameCard {
        width: 65%;
    }
}

@media (max-width: 864px) {
    /* .dotsContainer {
        padding-top: 6%;
    } */
    .gameCard {
        width: 68%;
    }
}

@media (max-width: 800px) {
    .gameCard {
        width: 85%;
    }       
}

@media (max-width: 667px) {
    .gameCard {
        width: 100%;
    }
    .dotsContainer {
        padding-top: 6%;
    }
    .cardDescription {
        font-size: 15px;
    }
    /* .cardTitle {
        font-size: 28px;
    } */
}

@media (max-width: 622px) {
    .cardDescription {
        font-size: 14px;
    }
}

@media (max-width: 601px) {
    .dotsContainer {
        padding-top: 2%;
    }
}

@media (max-width: 554px) {
    .text {
        gap: 15px;
    }
    .cardDescription {
        letter-spacing: -.5px;
    }
    .gameCard {
        padding-top: 2%;
    }
}

@media (max-width: 528px) {
    .text {
        gap: 10px;
    }
    .cardTitle {
        font-size: 28px;
    }
    .cardDescription {
        font-size: 14px;
    }
}

@media (max-width: 490px) {
    .cardDescription {
        font-size: 13px;
        letter-spacing: -1.5px;
        /* text-align: center; */
    }    
}

@media (max-width: 425px) {
    .text {
        gap: 5px
    }
    .gameCard {
        padding-top: 0;
    }
}