.market {
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr; */
  background-color:#ffffff;
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  font-size: var(--step-0);
  color: #000000;
}

/* .navbarGridTemplate { 
  grid-area: 1 / 1 / 2 / 2; 
  background-color: transparent;
} */
.navbar {
  position: fixed;
  top:0;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display: flex;
  justify-content: center;
}
.navbarInner {
  width: 100%;
  max-width: 1600px;
}

.main { 
  /* height: 100%; */
  margin-top: clamp(3.875rem, 3.5469rem + 1.6406vi, 5.1875rem);
  width: 100%;
  /* grid-area: 2 / 1 / 3 / 2;  */
  /* padding: 56px 64px; */
  /* padding: 56px 32px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(3.375rem, 2.9107rem + 2.3214vi, 5rem);
  /* background-color:rgb(240, 230, 239);
  background-color:#f0e6ef; */
  /* background-color:rgb(255, 0, 230); */

  font-weight: 500;
}

.main > h2 {
  font-size: var(--step-5);
  font-weight: 600;
  text-align: left;
  width: 100%;
  margin-left: 18px;
}

.hero {
  width: 100%;
  height: 68vh;
  border-radius: 25px;
  /* padding: 5% 5%; */
  padding-block: clamp(1.125rem, 0.9107rem + 1.0714vi, 1.875rem);

  /* background: linear-gradient(-45deg,#F08700, #F0A6CA); */
  /* background-size: 280% 280%; */
  transition: all 0.125s ease 0s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1.125rem, 0.9107rem + 1.0714vi, 1.875rem);
  overflow: hidden;
}

.content {
  position:relative;
  padding-inline: clamp(1.125rem, 0.9375rem + 0.9375vi, 1.875rem);
  width: 100%;
  height: 100%;
}

.arrowContainerRight,
.arrowContainerLeft {
  display: none;
  transition: all .1s ease-out;
  cursor: pointer;
}

.arrowContainerLeft:hover,
.arrowContainerRight:hover {
  transform: scale(1.1);
}

.arrowContainerLeft:active,
.arrowContainerRight:active {
  transform: scale(.95);
}



@media (min-width: 1024px) {
  .arrowContainerRight,
  .arrowContainerLeft {
    display: block;
    width: 62px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
  }
  .arrowContainerLeft {
    left: 0;
  }
  .arrowContainerRight {
    right: 0;
  }
}




/* .heroIcon {
  margin-right: 3.2%;
  opacity: 50%;
} */

.heroText {
  /* width: 100%;
  height: 68vh; */
  /* height: fit-content; */
  /* border-radius: 25px; */
  /* background-color: #9C89B8; */
  /* padding: 12% 5%; */

  /* background: linear-gradient(-45deg,#F0E6EF, #F0A6CA, #EFC3E6, #9C89B8); */
  /* background: linear-gradient(-45deg, #F08700, #F0A6CA, #f1cce9, #9C89B8); */
  /* background: linear-gradient(-45deg,#F08700, #F0A6CA);
  background-size: 280% 280%; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  transition: all 0.125s ease 0s;
}

@media (max-width: 1014px){ 
  .hero {
    height: 80vh;
  }
  .heroText { 
    gap: 16px;
  } 
}  

.textHilight {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.textHilight::after {
  content: "";
  position: absolute;
  bottom: 3px;
  height: 2px; 
  background-color: rgba(240, 135, 0, 0.3);

  right: 0;
  width: 100%; 
  height: 8px;
/* 
  content: "";
  position: absolute;
  bottom: 10px;
  height: 2px; 
  background-color: rgba(240, 135, 0, 0.3);

  right: 0;
  width: 100%; 
  height: 20px; */
}

.hero:hover {
  animation: gradient 20s ease infinite;
  /* animation: gradient 30s cubic-bezier(0.25, 0.1, 0.25, 1) infinite */
}

@keyframes gradient {
  0% {
      background-position: 0% 30%;
  }

  50% {
      background-position: 30% 50%;
  }

  100% {
      background-position: 0% 30%;
  }
}

/* .heroContent {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
} */

.heroTitle {
  font-family: 'SFRounded', sans-serif;
  font-weight: 900;
  color: rgb(255, 255, 255, 0.9);
  font-size: 76px;
}

.heroSubtitle {
  font-family: 'SFRounded', sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  font-size: 36px;
  letter-spacing: 1px;
}

.heroButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 32px;
}

.secondaryButton,
.secondaryButtonSelected,
.primaryButton,
.primaryButtonSelected,
.iconButton {
  transition: all 0.125s ease 0s;
  cursor: pointer;
  width: max-content;

  font-family: 'SFRounded', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.secondaryButton {
  color: rgb(255, 255, 255);
  padding: 20px;
  border: 2px solid rgba(240, 230, 239, 0.5);
  border-radius: 20px;
}

.secondaryButton:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.secondaryButton:active { 
  transform: scale(0.95);
}

.primaryButton {
  /* background: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)); */
  background: rgba(46, 46, 46, 0.8);
  transition: all 0.125s ease 0s;
  padding: 20px;
  border: 1px solid rgba(46, 46, 46, 0.2);
  border-radius: 18px;
  color: rgb(255, 255, 255);
}

.primaryButton:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.primaryButton:active { 
  transform: scale(0.95); 
}

.trending {
  width: 100%;
  height: fit-content;
  padding: 4% 0% 4% 4.5%;
  
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 40px;

  border-radius: 25px;
  /* background-color: rgb(253, 246, 252); */
  background-color: rgb(255, 255, 255);
  color: rgba(93, 93, 93, 1);
  overflow: hidden;
}

.trendingTitle {
  padding-left: 8px;
}

.trendingContent {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: grab;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  overflow-x: scroll;
  gap: 16px;  /* Space between the cards */
  cursor: grab;
  scrollbar-width: none;
  padding-right: 8px;
  -ms-overflow-style: none;
}

.trendingContent:active {
  cursor: grabbing;
}

/* For Webkit browsers */
.trendingContent::-webkit-scrollbar {
  display: none;
}

.latest {
  width: 100%;
  height: auto;
  padding: 4% 4% 4% 5%;
  
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 56px;

  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  color: rgba(93, 93, 93, 1);
}

/* .nftGridContent {
  margin: -8px -8px -24px -8px;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nftGridContent {
  margin-right: 8px;
} */

.nftGridContent {
  /* padding-top: 8px; */
  padding-bottom: 96px;
  /* padding-right: 24px; */
  height: auto;  /* Deducting the padding-top */
  scrollbar-width: thin;
  scrollbar-color: rgb(211, 199, 208, 0.6) rgb(240, 230, 239, 0.6);
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2% 2%;
  /* gap: 48px 56px; */
  /* margin-right: -16px; */
  /* margin-right: -1.5%;
  padding-bottom: 1.5%; */
  /* padding-left: 8px; */
  /* padding-bottom: 16px; */
}

@media (max-width: 1500px){ 
  .cardGrid { 
    gap: 2% 1%;
  } 
}

@media (max-width: 1404px){ 
  .cardGrid { 
    gap: 2% 3%;
  } 
}  

@media (max-width: 1148px){ 
  .cardGrid { 
    gap: 2% 3%;
  } 
}


.slider {
  width: 100%;
  height: fit-content;
  padding: 4% 0% 4% 4.5%;
  
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 40px;

  border-radius: 25px;
  /* background-color: rgb(253, 246, 252); */
  background-color: rgb(255, 255, 255);
  color: rgba(93, 93, 93, 1);
  overflow: hidden;
}

.sliderErr {
  width: 100%;
  height: fit-content;
  padding: 4% 0% 4% 4.5%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  border-radius: 25px;
  /* background-color: rgb(253, 246, 252); */
  background-color: rgb(255, 255, 255);
  color: rgba(93, 93, 93, 1);
  overflow: hidden;
}

.sliderTitle {
  padding-left: 8px;
}

.sliderContent {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: grab;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  overflow-x: scroll;
  gap: 16px;  /* Space between the cards */
  cursor: grab;
  scrollbar-width: none;
  padding-right: 8px;
  -ms-overflow-style: none;
}

.nftSliderContent {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: grab;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  overflow-x: scroll;
  gap: 28px;  /* Space between the cards */
  cursor: grab;
  scrollbar-width: none;
  padding-right: 8px;
  padding-block: 18px;
  -ms-overflow-style: none;
}

.sliderContent:active,
.nftSliderContent:active {
    cursor: grabbing;
}

/* For Webkit browsers */
.sliderContent::-webkit-scrollbar,
.nftSliderContent::-webkit-scrollbar {
  display: none;
}