
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    border: 3px solid #000000;
    border-radius: 30px;
    padding-top: 8%;
    padding-bottom: 10%;
}

.sloganContainer {
    display: flex;
    flex-direction: column;
    width: clamp(230px, 33%, 390px);
}

.buttonsContainer {
    display: flex;
    gap: 12px;
    font-size: clamp(.75rem, 1.042vw, 1rem);
}


.button1 {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    /* outline: 2px solid #000000; */
}
.button2 {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    color: #ffffff;
    background: #000000;
    /* outline: 2px solid #000000; */
}

.slogan {
    font-size: clamp(38px, 4.5vw ,64px);
    font-weight: 600;
    color: #000000;
    width: 100%;
    height: auto;
    /* aspect-ratio: 390 / 265; */
    text-align: left;
    padding-bottom: 4%;
}

.logo {
    width: clamp(147px, 20%, 243px);
    height: auto;
}


@media (max-width: 1280px) {
    .banner {
        gap: 20%;
    }
}

@media (max-width: 1080px) {
    .banner {
        /* gap: 150px; */
    }
    
    /* .slogan {
        font-size: 52px;
        width: 320px;
    } */
    
}

@media (max-width: 818px) {
    .slogan {
        /* font-size: 48px; */
    }
}
@media (max-width: 800px) {
    /* .slogan {
        font-size: 46px;
        width: 290px;
    }
    .buttonsContainer {
        font-size: 14px;
    } */
}

@media (max-width: 768px) {
    
    /* .sloganContainer{
        justify-content: center;
        align-items: center;
    } */

    /* .slogan {
        font-size: 42px;
        width: 256px;
    } */

}

/* @media (max-width: 720px) {
    
} */

@media (max-width: 640px) {
    .banner {
        gap: 16%;
    }
    /* .slogan {
        font-size: 38px;
        width: 238px;
    }
    .buttonsContainer {
        font-size: 12px;
    } */
}

@media (max-width: 601px) {
    .banner {
        flex-direction: column;
        gap: 15vw;
    }
    .logo{
        width: 40%;
        min-width: 217px;
    }
    .sloganContainer {
        justify-content: center;
        align-items: center;
        width: 256px;
    }
    .slogan {
        font-size: 42px;
        width: 256px;
        text-align: center;
    }
    .buttonsContainer {
        font-size: clamp(12px, 2.3vw, 14px);
    }
}


@media (max-width: 494px) {
    /* .banner {
        gap: 10vw;
    } */
}

@media (max-width: 471px) {
    .banner {
        padding-bottom: 15vw;
    }
    /* .slogan {
        font-size: 40px;
        width: 244px;
    }
    .logo {
        width: 45%;
    } */
}


@media (max-width: 414px) {
    .banner {
        gap: 10vw;
    }

    /* .logo {
        width: 50%;
    } */
    
    

}

@media (max-width: 390px) {
    .slogan {
        font-size: 9.5vw;
    }
    .logo {
        width: 52%;
        min-width: 0;
        padding-block: 5vw;
    }
}

@media (max-width: 314px) {
    /* .slogan {
        font-size: 28px;
        height: 100px;
    } */

}

@media (max-width: 278px) {
    .slogan {
        font-size: 32px;
    }
}

@media (max-height: 568px) {
    
}

@media (max-height: 464px) {
    .banner {
        flex-direction: row;
        gap: 15vw;
        padding-block: 5%;
    }
    .logo {
        width: 22%;
        min-width: 140px;
    }
    .banner {
        padding-block: 5%;
    }

    .slogan {
        font-size: 36px;
        /* height: 180px; */
        width: 230px;
    }
}

@media (max-height: 414px) {
    
    .logo {
        width: 20%;
    }

    .slogan {
        font-size: 34px;
        /* height: 100px; */
    }

}