
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    border: 3px solid #000000;
    border-radius: 30px;
    padding-top: 8%;
    padding-bottom: 10%;
    /* padding-inline: 6%; */
}

.sloganContainer {
    display: flex;
    flex-direction: column;
}

.buttonsContainer {
    display: flex;
    gap: 12px;
}


.button1 {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    /* outline: 2px solid #000000; */
}
.button2 {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    color: #ffffff;
    background: #000000;
    /* outline: 2px solid #000000; */
}

.slogan {
    font-size: 64px;
    color: #000000;
    width: 390px;
    height: auto;
    aspect-ratio: 390 / 265;
    text-align: left;
}

.logo {
    width: 20%;
    height: auto;
}


@media (max-width: 1280px) {
    .banner {
        gap: 20%;
    }
}

@media (max-width: 1024px) {
    .banner {
        /* gap: 150px; */
    }
    
    .slogan {
        font-size: 52px;
        width: 320px;
    }
    
}

@media (max-width: 864px) {
    .slogan {
        font-size: 48px;
        width: 288px;
    }
    .buttonsContainer {
        font-size: 15px;
    }
}
@media (max-width: 800px) {
    .slogan {
        font-size: 46px;
        width: 290px;
    }
    .buttonsContainer {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    
    /* .sloganContainer{
        justify-content: center;
        align-items: center;
    } */

    .slogan {
        /* text-align: left; */
        font-size: 42px;
        width: 256px;
    }

}

@media (max-width: 720px) {
    .slogan {
        font-size: 40px;
        width: 244px;
    }
    .buttonsContainer {
        font-size: 13px;
    }
}

@media (max-width: 640px) {
    .slogan {
        font-size: 38px;
        width: 238px;
    }
    .buttonsContainer {
        font-size: 12px;
    }
}

@media (max-width: 601px) {
    .banner {
        flex-direction: column;
        gap: 15vw;
    }
    .logo{
        width: 40%;
    }
    .sloganContainer {
        justify-content: center;
        align-items: center;
    }
    .slogan {
        font-size: 42px;
        width: 256px;
        text-align: center;
    }
    .buttonsContainer {
        font-size: 14px;
    }
}


@media (max-width: 494px) {
    .slogan {
        /* width: 80%;
        font-size: 52px; */
    }
    .banner {
        gap: 10vw;
    }
}

@media (max-width: 471px) {
    .slogan {
        font-size: 40px;
        width: 244px;
    }
    .logo {
        width: 45%;
    }
}


@media (max-width: 414px) {
    .banner {
        gap: 41.4px
    }

    .logo {
        width: 50%;
    }
    
    .slogan {
        /* font-size: 32px;
        height: 140px; */
    }
    .buttonsContainer {
        font-size: 13px;
    }

}

@media (max-width: 360px) {
    .slogan {
        font-size: 36px;
    }
}

@media (max-width: 314px) {
    /* .slogan {
        font-size: 28px;
        height: 100px;
    } */

}

@media (max-width: 278px) {
    .slogan {
        font-size: 32px;
    }
}

@media (max-height: 600px) {
    .banner {
        flex-direction: row;
        gap: 15vw;
        padding-block: 5%;
    }
    .logo {
        width: 22%;
    }
}

@media (max-height: 464px) {
    .banner {
        padding-block: 5%;
    }

    .slogan {
        font-size: 36px;
        /* height: 180px; */
        width: 230px;
    }
}

@media (max-height: 414px) {
    
    .logo {
        width: 20%;
    }

    .slogan {
        font-size: 34px;
        /* height: 100px; */
    }

}